.contacts__title {
  padding-top: 110px;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__title h2 {
  margin-top: 0;
}

.contacts__item {
  border-radius: 5px;
  border-radius: 2px;
}

.contacts__info {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__item ul {
  padding-left: 20px;
}

.contacts__left {
  background-color: #ffffff;
  box-shadow: 0 2px 8px #a4a4a444;
  display: flex;
  align-items: center;
  border: 1px solid #cacaca;
  color: #221F1F;

}

.contacts__right {
  background: linear-gradient(120deg, #ff495b 0%, #ff6363 100%);
  box-shadow: 0 3px 8px #ff5e6e99;
}

.contacts__descr p {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #ffffff;
}

.contacts__descr p {
  margin-left: 20px;
  margin-right: 20px;
}

.contacts__item-text a {
  font-weight: 600;
  font-size: 18px;
  color: #191919;
  line-height: 190%;
}

.contacts__item-text a:hover {
  color: #ff5e5e;
  transition: 0.2s all ease;
}

.map {
  height: 440px;
}

.map__text a {
  font-size: 15px;
}

@media (max-width: 1149px) {
  .contacts__descr p {
    font-size: 16px;
    line-height: 125%;
  }

  .contacts__item-text a {
    font-size: 17px;
    line-height: 170%;
  }

  .contacts__title h2 {
    font-size: 47px;
  }

  .map {
    height: 400px;
  }
}

@media (max-width: 990px) {
  .contacts__title h2 {
    font-size: 45px;
  }

  .contacts__title {
    padding-top: 70px;
  }

  .contacts__item-text a {
    line-height: 210%;
  }

  .map {
    height: 380px;
  }

  .contacts__info {
    grid-gap: 30px;
  }
}

@media (max-width: 902px) {
  .contacts__title h2 {
    font-size: 42px;
  }

  .map {
    height: 370px;
  }

  .contacts__info {
    grid-gap: 20px;
  }

  .contacts__item-text a {
    line-height: 210%;
  }
}

@media (max-width: 768px) {
  .contacts__title h2 {
    font-size: 40px;
  }

  .map {
    height: 350px !important;
  }

  .contacts__item-text a {
    line-height: 170%;
  }

  .contacts__info {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .contacts__item {
    min-height: 100px;
  }

  .contacts__left {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 607px) {
  .contacts__title h2 {
    font-size: 38px;
  }

  .contacts__descr p {
    font-size: 16px;
  }

  .contacts__item {
    min-height: 100px;
  }

  .contacts__left {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 514px) {
  .contacts__title h2 {
    font-size: 35px;
  }

  .map {
    height: 330px !important;
  }

  .contacts__descr p {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.5px;
  }

  .contacts__item-text a {
    line-height: 165%;
  }
}

@media (max-width: 470px) {
  .contacts__title h2 {
    font-size: 32.5px;
  }

  .contacts__descr p {
    letter-spacing: 0.5px;
  }

  .contacts__item-text a {
    font-size: 16px;
    line-height: 175%;
  }

  .contacts__item ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 430px) {
  .contacts__title h2 {
    font-size: 30px;
    letter-spacing: 0.1em;
  }

  .map {
    height: 320px !important;
  }

  .contacts__descr p {
    font-size: 15px;
    letter-spacing: 0.5px;
  }

  .map__text a {
    font-size: 12px;
  }

  .contacts__item-text a {
    font-size: 16px;
    line-height: 175%;
  }
}

@media (max-width: 390px) {
  .contacts__title h2 {
    font-size: 29px;
    letter-spacing: 0.1em;
  }

  .map {
    height: 290px !important;
  }

  .contacts__descr p {
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  .contacts__item-text a {
    font-size: 15px;
    line-height: 180%;
  }
}

@media (max-width: 360px) {
  .contacts__title h2 {
    font-size: 27px;
  }

  .map {
    height: 270px !important;
  }

  .contacts__descr p {
    font-size: 12.7px;
  }

  .contacts__item-text a {
    font-size: 13.5px;
  }

  .contacts__item ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}