.contacts__title {
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.contacts__title h2 {
  margin-top: 0;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.contacts__item ul {
  padding-left: 0;
  margin: 0;
}

.contacts__left {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
}

.contacts__right {
  /* background: linear-gradient(120deg, #ff495b 0%, #ff6363 100%); */
  background: transparent;
}

.contacts__descr p {
  position: relative;
  font-weight: 400;
  font-size: calc(12px + 5 * (100vw / 1980)) !important;
  line-height: 120%;
  color: #282828;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__item-text a {
  font-weight: 500;
  font-size: calc(14px + 4 * (100vw / 1980)) !important;
  color: #191919;
  line-height: 170%;
}

.contacts__item-text a:hover {
  color: #ff5e5e;
  transition: 0.2s all ease;
}

@media (max-width: 767px) {
  .contacts__descr p {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1980)) !important;
  }

  .contacts__item-text a {
    font-size: calc(15px + (3 + 3 * 0.7) * ((100vw - 320px) / 1980)) !important;
  }
}

.map {
  border: 2px solid #d5d5d5;
  width: 99.7%;
  height: 430px;
  margin-bottom: 0;
}

.map__text a {
  font-size: 15px;
}

.contacts__descr p:before {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 100%;
  left: 0;
  height: 1px;
  background-color: #d5d5d5;
}

.contacts__info {
  border: 1px solid #d5d5d5;
}

.contacts__item ul,
.contacts__descr p {
  padding: 8px 8px 8px 8px;
}

.contacts__item ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1366px) {
  .map {
    height: 410px;
  }
}

@media (max-width: 1149px) {
  .contacts__descr p {
    font-size: 16px;
    line-height: 125%;
  }

  .contacts__item-text a {
    font-size: 17px;
    line-height: 166%;
  }

  .contacts__title h2 {
    font-size: 47px;
  }

  .map {
    height: 400px;
    margin-bottom: 5px !important;
  }
}

@media (max-width: 992px) {
  .contacts__title h2 {
    font-size: 45px;
  }

  .map {
    height: 380px;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 902px) {
  .contacts__title h2 {
    font-size: 42px;
  }

  .map {
    height: 370px;
  }

  .contacts__item-text a {
    line-height: 160%;
  }
}

@media (max-width: 768px) {
  .contacts__title h2 {
    font-size: 40px;
  }

  .map {
    height: 350px !important;
    width: 99.5%;
  }

  .contacts__descr p {
    margin-top: 0;
  }
}

@media (max-width: 607px) {
  .contacts__title h2 {
    font-size: 38px;
  }

  .contacts__descr p {
    font-size: 16px;
  }
}

@media (max-width: 515px) {
  .contacts__title h2 {
    font-size: 35px;
  }

  .map {
    height: 330px !important;
  }

  .contacts__descr p {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.5px;
  }

  .contacts__item-text a {
    line-height: 160%;
  }

  .contacts__item ul,
  .contacts__descr p {
    padding: 8px 10px 8px 10px;
  }
}

@media (max-width: 470px) {
  .contacts__title h2 {
    font-size: 32.5px;
  }

  .contacts__descr p {
    letter-spacing: 0.5px;
  }

  .contacts__item-text a {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .contacts__title h2 {
    font-size: 30px;
    letter-spacing: 0.1em;
  }

  .map {
    height: 320px !important;
  }

  .contacts__descr p {
    font-size: 15px;
    letter-spacing: 0.5px;
  }

  .map__text a {
    font-size: 12px;
  }

  .contacts__item-text a {
    font-size: 16px;
  }

}

@media (max-width: 391px) {
  .contacts__title h2 {
    font-size: 29px;
    letter-spacing: 0.1em;
  }

  .map {
    height: 280px !important;
  }

  .contacts__descr p {
    font-size: 13px;
    letter-spacing: 0.02em;
  }

  .contacts__item-text a {
    font-size: 15px;
    line-height: 170%;
  }
}

@media (max-width: 360px) {
  .contacts__title h2 {
    font-size: 27px;
  }

  .map {
    height: 270px !important;
  }

  .contacts__descr p {
    font-size: 12.7px;
  }

  .contacts__item-text a {
    font-size: 13.5px;
  }
}