.footer {
  position: relative;
  max-width: 100%;
  padding: 30px 0;
  background-color: #121212;
}

.footer__item {
  display: flex;
  flex: 0 1 240px;
  flex-direction: column;
}

.footer__item ul {
  padding-left: 0;
}

.tg-icon:hover path {
  fill: #35bcff;
  transition: 0.2s all ease;
}

.whatsapp-icon:hover path {
  fill: #3fc270;
  transition: 0.2s all ease;
}

.viber-icon:hover path {
  fill: #7b4d9b;
  transition: 0.2s all ease;
}

.whatsapp-icon,
.tg-icon {
  width: 34px;
  height: 34px;
}

.viber-icon {
  display: block;
  width: 39px;
  height: 39px;
}

.delivery__options,
.payment__options,
.schedule__options {
  font-weight: 500;
  font-size: calc(12px + 4 * (100vw / 1920)) !important;
  line-height: 174%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.delivery__title,
.payment__title,
.schedule__title {
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 0;
}

.delivery__title,
.payment__title,
.schedule__title,
.soc__title h4 {
  font-size: calc(13px + 5 * (100vw / 1920)) !important;
}

.refund strong {
  font-size: calc(14px + 4 * (100vw / 1920)) !important;
}

.refund {
  margin-top: 10px;
}

.refund span {
  transform: color 80ms ease-out;
}

.refund span:hover {
  color: #FF575D !important;
}

@media (max-width: 767px) {

  .delivery__title,
  .payment__title,
  .schedule__title,
  .soc__title h4 {
    font-size: calc(13px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920)) !important;
  }

  .delivery__options,
  .payment__options,
  .schedule__options {
    font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920)) !important;
  }

  .refund strong {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920)) !important;
  }
}

.refund__info {
  position: fixed;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #221F1F;
  width: 40%;
  max-height: 70%;
  border-radius: 3px;
  border: 1px solid #000000;
  z-index: 300;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 18px 20px 18px;
  display: none;
  overflow-y: scroll;
}

.refund__info::-webkit-scrollbar {
  width: 5px;
}

.refund__info::-webkit-scrollbar-track {
  background: transparent;
}

.refund__info::-webkit-scrollbar-thumb {
  background: #f0f0f0b3;
  border-radius: 5px;
}

.refund__info--active {
  display: block;
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 20px;
}

.soc__links {
  display: flex;
  align-items: center;
  gap: 26px;
}

.soc__title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 0;
}

.soc__title h4 {
  margin-top: 15px;
  margin-bottom: 16px;
}

.footer__privacy span {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  justify-content: center;
}

.footer__soc {
  margin-bottom: 40px;
}

@media (max-width: 11px) {}

@media (max-width: 992px) {
  .footer__lists {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .whatsapp-icon,
  .tg-icon {
    width: 32px;
    height: 32px;
  }

  .viber-icon {
    display: block;
    width: 37px;
    height: 37px;
  }

  .soc__links {
    gap: 24px;
  }
}


@media (max-width: 768px) {
  .footer__lists {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 18px;
  }

  .footer__item ul {
    margin: 5px 0;
  }

  .footer__soc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .whatsapp-icon,
  .tg-icon {
    width: 30px;
    height: 30px;
  }

  .viber-icon {
    display: block;
    width: 35px;
    height: 35px;
  }

  .soc__links {
    gap: 22px;
  }
}

@media (max-width: 607px) {

  .whatsapp-icon,
  .tg-icon {
    width: 28px;
    height: 28px;
  }

  .viber-icon {
    width: 33px;
    height: 33px;
  }

  .soc__links {
    gap: 20px;
  }
}

@media (max-width: 514px) {

  .delivery__title,
  .payment__title,
  .schedule__title {
    font-size: 17px;
    line-height: 120%;
  }

  .delivery__options,
  .payment__options,
  .schedule__options {
    font-size: 15px;
    line-height: 156%;
  }

  .soc__title {
    font-size: 18px;
  }

  .soc__title h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 470px) {

  .delivery__title,
  .payment__title,
  .schedule__title {
    font-size: 16px;
  }

  .delivery__options,
  .payment__options,
  .schedule__options {
    font-size: 14px;
  }

  .soc__title {
    font-size: 17px;
  }

  .soc__title h2 {
    margin-bottom: 20px;
  }

  .footer__lists {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .footer__item ul {
    margin: 0 0;
  }
}

@media (max-width: 430px) {

  .delivery__title,
  .payment__title,
  .schedule__title {
    font-size: 15.5px;
  }

  .delivery__options,
  .payment__options,
  .schedule__options {
    font-size: 13.5px;
    line-height: 160%;
  }

  .soc__title {
    font-size: 15.5px;
  }

  .soc__title h2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 390px) {

  .delivery__title,
  .payment__title,
  .schedule__title {
    font-size: 14.5px;
  }

  .delivery__options,
  .payment__options,
  .schedule__options {
    font-size: 12.5px;
  }

  .soc__title {
    font-size: 14.5px;
  }

  .soc__title h2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 360px) {

  .delivery__title,
  .payment__title,
  .schedule__title {
    font-size: 12.5px;
  }

  .delivery__options,
  .payment__options,
  .schedule__options {
    font-size: 11.5px;
  }

  .soc__title {
    font-size: 12.5px;
  }

  .soc__title h2 {
    margin-bottom: 15px;
  }

  .whatsapp-icon,
  .tg-icon {
    width: 24px;
    height: 24px;
  }

  .viber-icon {
    width: 27px;
    height: 27px;
  }

  .soc__links {
    gap: 18px;
  }

  .footer__lists {
    margin-bottom: 8px;
  }
}