.hidden {
  display: none;
}

.active {
  display: block;
}

.pagination-container {
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
  padding-bottom: 0;
}

#pagination-numbers {
  display: flex;
  gap: 4px;
  flex-direction: row;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1a1a1a;
  border: 1px solid #c3c3c3;
  user-select: none;
}

#next-button,
#prev-button {
  color: #1a1a1a;
}

.pagination-number.active {
  color: #fff;
  background: #FF505D;
  border: none;
}

.pagination-number:hover {
  border: 1px solid #ff828b;
}

#next-button:hover,
#prev-button:hover {
  border: 1px solid #ff828b;
}

@media (max-width: 391px) {
  .pagination-number {
    width: 2.3rem;
    height: 2.3rem;
    font-size: 16px;
  }

  .pagination-button {
    margin: 0.2rem 0.2rem;
  }
}

@media (max-width: 369px) {
  .pagination-number {
    width: 2.25rem;
    height: 2.25rem;
  }
}