@import url(./catalog.css);
@import url(./contacts.css);
@import url(./swiper.css);
@import url(./about.css);
@import url(./footer.css);
@import url(./normalizer.css);
@import url(./overlay.css);
@import url(./pagination.css);
@import url(./callback.css);
@import url(./checkbox.css);
@import url(./survey.css);
@import url(./vars.css);

@font-face {
  font-family: "Rubik";
  src: url(../src/fonts/Rubik-Regular.woff2),
    url(../src/fonts/Rubik-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../src/fonts/Rubik-Medium.woff2),
    url(../src/fonts/Rubik-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -moz-text-size-adjust: none;
  -moz-overflow-scrolling: touch;
}

html,
body {
  scrollbar-gutter: stable;
}

::selection {
  background-color: var(--accent-color);
  color: var(--white);
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
  background-color: var(--white);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #181818;
}

img {
  user-select: none;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 44px;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.items__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    padding: 0 15px;
  }

  .items__container {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }

  .items__container {
    padding: 0;
  }
}

@media (max-width: 468px) {
  .container {
    padding: 0 10px;
  }
}

.site__container {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
}

.logo img {
  width: 59px;
  height: auto;
  margin-top: 1px;
}

.img__cart {
  width: 24px;
  height: auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: relative;
  max-width: 100%;
  min-height: 100px;
  background-color: var(--footer-header-color);
  padding: 5px 0;
}

.hero_text {
  padding: 40px 0;
}

.header__title h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
  margin-top: 0;
}

.header--all {
  font-weight: 500;
  color: var(--section-header-color) !important;
  text-align: left !important;
  letter-spacing: -0.01em !important;
  margin-bottom: 20px;
  padding-top: 100px !important;
}

.header--all {
  font-size: calc(26px + 10 * (100vw / 1920)) !important;
}

.important__info {
  background-image: var(--top-gradient);
  animation: gradient 7s infinite linear;
  background-size: 300%;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }

  50% {
    background-position: 20% 100%;
  }

  100% {
    background-position: 80% 0%;
  }
}

@media (max-width: 767px) {
  .header--all {
    font-size: calc(26px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
  }
}

.important__info-text {
  font-size: 17px;
  letter-spacing: 0.01em;
}

.important__info {
  padding: 7px 0 !important;
}

@media (max-width: 992px) {
  .important__info-text {
    font-size: 15px;
  }
}

@media (max-width: 1366px) {
  .important__info {
    padding: 6px 0 !important;
  }
}

@media (max-width: 468px) {
  .important__info-text {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .important__info-text {
    font-size: 13.5px;
  }

  .important__info {
    padding: 4px 0 !important;
  }
}

.header__subtitle p {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3em;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
  max-width: 80%;
}

.header__call a {
  padding: 15px 18px;
  border-radius: 4px;
  background-color: var(--accent-color-darker);
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 18px;
  border-radius: 42px;
  box-shadow: inset 0 -4px 0 0 #d5172a;
  transition: background-color 60ms ease-out;
}

.header__call a:hover {
  background-color: var(--accent-color);
}

.header__call {
  font-weight: 500;
}

.header__call svg {
  margin-bottom: 2px;
}

.header__subtitle span {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--accent-color);
}

.nav__list {
  margin: 0;
  padding: 0;
}

.page__body {
  overflow-x: hidden;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: var(--accent-color);
  left: 93%;
  top: 32%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1200;
}

.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(-50%);
  transition: opacity 200ms ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: transform 200ms ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.burger--active::before {
  top: 50% !important;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto !important;
  top: 50%;
  transform: rotate(-45deg);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.nav__link {
  font-weight: 400;
  font-size: 17.5px;
  color: #ffffff;
  transition: color 60ms ease-out;
}

.nav__link:hover {
  color: var(--accent-color);
}

.burger__align {
  display: flex;
  gap: 30px;
  align-items: center;
}

.burger--active .burger__line {
  opacity: 0;
}

.stop-scroll {
  overflow: hidden !important;
}

.fa-xmark {
  color: #CFCFCF;
}

.to-start {
  position: fixed;
  top: 87%;
  left: 92%;
  transform: translate(-50%, -50%);
  z-index: 400;
  visibility: hidden;
}

.to-start a {
  background-color: #ff5059b0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  transition: background-color 60ms ease-out;
}

.to-start a:hover {
  background-color: var(--accent-color);
}

.to-start svg {
  transition: all 140ms ease-in-out;
  margin-bottom: 1px;
}

.to-start a:hover svg {
  transform: translateY(-4px);
}

.to__start-visible {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* адаптив для старт бтн */

@media (max-width: 1600px) {
  .to-start a {
    min-width: 56px;
    min-height: 56px;
  }

  .to-start svg {
    width: 31px;
    height: 31px;
  }

  .to-start {
    left: 96%;
  }
}

@media (max-width: 1279px) {
  .to-start a {
    min-width: 54px;
    min-height: 54px;
  }

  .to-start svg {
    width: 30px;
    height: 30px;
  }

  .to-start {
    left: 94.5%;
  }

  .hero_text {
    padding: 32px 0;
  }
}

@media (max-width: 1200px) {
  .header--all {
    padding-top: 68px !important;
  }
}

@media (max-width: 990px) {
  .header--all {
    padding-top: 52px !important;
  }
}

@media (max-width: 902px) {
  .to-start a {
    min-width: 52px;
    min-height: 52px;
  }

  .to-start svg {
    width: 28px;
    height: 28px;
  }

  .to-start {
    left: 94.5%;
  }
}

@media (max-width: 768px) {
  .to-start {
    left: 93%;
  }

  .to-start a {
    min-width: 50px;
    min-height: 50px;
  }

  .header__call a {
    margin-bottom: 14px;
  }

  .hero_text {
    padding: 23px 0;
  }
}

@media (max-width: 514px) {
  .to-start svg {
    width: 26px;
    height: 26px;
  }

  .to-start {
    left: 92%;
  }
}

@media (max-width: 500px) {
  .header--all {
    text-align: center !important;
  }

  .hero_text {
    padding: 18px 0;
  }
}

@media (max-width: 430px) {
  .to-start a {
    min-width: 49px;
    min-height: 49px;
  }

  .to-start {
    left: 92.5%;
  }

  .header--all {
    margin-bottom: 14px;
  }
}

@media (max-width: 391px) {
  .to-start {
    left: 91%;
  }

  .to-start a {
    min-width: 47.5px;
    min-height: 47.5px;
  }

  .to-start svg {
    width: 25px;
    height: 25px;
  }

  .header--all {
    margin-bottom: 11px;
  }

  .hero_text {
    padding: 15px 0;
  }
}

@media (max-width: 360px) {
  .to-start a {
    min-width: 45.5px;
    min-height: 45.5px;
  }

  .to-start svg {
    width: 23px;
    height: 23px;
  }
}

/* адаптив для хедера */

@media (max-width: 1366px) {
  .header__title h1 {
    font-size: 33px;
    margin-bottom: 20px;
  }

  .header__subtitle p {
    font-size: 16.5px;
    max-width: 70%;
    margin-bottom: 15px;
  }

  .header__call a {
    margin-bottom: 13px;
  }

  .logo img {
    width: 57px;
  }

  .img__cart {
    width: 22px;
  }

  .cart__quantity {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1149px) {
  .nav__link {
    font-size: 17px;
  }

  .header__title h1 {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 18px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 36px;
  }

  .header__subtitle p {
    font-size: 16.5px;
    line-height: 18px;
    max-width: 65%;
  }

  .header__call a {
    padding: 14px 16px;
    gap: 5px;
  }

  .header__call svg {
    width: 18px;
    height: 18px;
  }

  .logo img {
    width: 56px;
    height: auto;
  }

  .navbar__scrolled {
    padding: 5px 0;
  }

  .nav ul {
    gap: 38px;
  }
}

@media (max-width: 992px) {

  .header__title h1 {
    font-size: 29px;
    line-height: 100%;
  }

  .header__subtitle p {
    font-size: 16px;
    line-height: 18px;
    max-width: 60%;
  }

  .header__call a {
    padding: 14px 16px;
    font-size: 14px;
    gap: 5px;
  }

  .header__call svg {
    width: 16px;
    height: 16px;
  }

  .cart a::before {
    width: 13px;
    height: 13px;
  }

  .logo img {
    width: 52px;
    height: auto;
  }

  .nav ul {
    gap: 32px;
  }
}

@media (max-width: 902px) {
  .header__title h1 {
    margin-bottom: 20px;
  }

  .title--gradient {
    font-size: 36px;
  }

  .header__subtitle p {
    font-size: 15.5px;
    letter-spacing: 0.03em;
    max-width: 70%;
  }

  .header__call a {
    padding: 13px 16px;
    font-size: 13.5px;
  }

  .header__call svg {
    width: 15px;
    height: 15px;
  }

  .nav__link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header__title h1 {
    font-size: 29px;
    line-height: 120%;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 34px;
  }

  .header__subtitle p {
    max-width: 80%;
  }

  .header__call a {
    gap: 4px;
  }

  .header__call svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 607px) {
  .header__title h1 {
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 31.5px;
  }

  .header__subtitle p {
    font-size: 14.5px;
    line-height: 110%;
    letter-spacing: 0.1em;
    max-width: 90%;
  }

  .header__call a {
    padding: 12px 16px;
    font-size: 13px;
  }

  .header__call svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 515px) {

  .header__title h1 {
    font-size: 26px;
    line-height: 110%;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 30px;
  }

  .header__subtitle p {
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.1em;
    max-width: 84%;
  }

  .header__call a {
    padding: 13px 15px;
    font-size: 13px;
    gap: 5px;
  }

  .header__call svg {
    width: 12px;
    height: 12px;
  }

  .logo img {
    width: 51px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .hero_text {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .header__subtitle p {
    max-width: none;
    font-size: 13px;
  }

  .header__call a {
    padding: 12px 13px;
    font-size: 13px;
    gap: 5px;
    margin-bottom: 12px;
  }
}

@media (max-width: 455px) {
  .header__call a {
    padding: 12px 12px;
    font-size: 13px;
    gap: 5px;
  }

  .header__call svg {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 432px) {
  .header__title h1 {
    font-size: 24px;
    margin-bottom: 2px;
  }

  .title--gradient {
    font-size: 31px;
  }

  .header__subtitle p {
    font-size: 13.5px;
  }

  .header__call a {
    padding: 12px 12px;
    font-size: 13px;
    gap: 5px;
  }

  .header__call svg {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 380px) {
  .header__title h1 {
    font-size: 22px;
    line-height: 110%;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 28px;
  }

  .header__subtitle p {
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0.1em;
  }

  .header__call a {
    padding: 11px 11px;
    font-size: 12px;
    gap: 5px;
  }

  .header__call svg {
    width: 13px;
    height: 13px;
  }

  .logo img {
    width: 50px;
    height: auto;
  }
}

/* адаптив для бургера */

.soc__links-header {
  display: none;
}

.burger-visible {
  display: none !important;
}

.nav__link-icon {
  font-size: 28px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .burger-visible {
    display: block !important;
    color: #ffffff;
  }

  .soc__links-header {
    display: flex;
    justify-content: center;
  }

  .nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: #121212;
    transform: translateX(100%);
    transition: transform 200ms ease-in-out;
  }

  .nav::-webkit-scrollbar {
    width: 5px;
  }

  .nav::-webkit-scrollbar-track {
    background: transparent;
  }

  .nav::-webkit-scrollbar-thumb {
    background: #f0f0f0b3;
    border-radius: 5px;
  }

  .nav--visible {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
    padding-top: 82px;
    padding-bottom: 50px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .nav__item-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }

  .nav__link {
    font-size: 17px;
  }

  .nav ul {
    gap: 20px;
    align-items: flex-start;
    padding-left: 30px;
  }
}

@media (max-width: 640px) {
  .burger {
    width: 27px;
    height: 18px;
  }

  .burger__align {
    gap: 25px;
  }

  .nav__list {
    padding-top: 95px;
    padding-bottom: 50px;
  }

  .img__cart {
    width: 20px;
    height: auto;
  }

  .cart__quantity {
    font-size: 13px;
  }
}

@media (max-width: 566px) {
  .burger {
    width: 27px;
    height: 18px;
  }

  .nav__list {
    padding-top: 95px;
    padding-bottom: 50px;
  }
}

@media (max-width: 515px) {
  .logo img {
    width: 50px;
    height: auto;
  }

  .burger {
    width: 27px;
    height: 19px;
  }

  .nav__list {
    padding-top: 95px;
    padding-bottom: 50px;
  }

  .burger__align {
    gap: 22px;
  }
}

@media (max-width: 391px) {
  .logo img {
    width: 45px;
    height: auto;
  }

  .burger {
    width: 24px;
    height: 17px;
  }

  .cart__quantity {
    width: 13px;
    height: 13px;
    font-size: 11px;
  }

  .nav ul {
    gap: 12px;
  }

  .nav__link {
    font-size: 16px;
  }

  .header--all {
    padding-top: 40px !important;
  }

  .img__cart {
    width: 19px;
    height: auto;
  }

  .important__info {
    padding: 5px 0 !important;
  }
}

/* fixed menu */

.navbar_scrolled {
  position: fixed;
  padding: 0 0;
  background-color: #121212;
  animation-name: fadeInUp;
  animation-duration: 0.4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.cart-product img {
  width: 130px;
  height: 180px;
}

.cart__content {
  position: absolute;
  right: -438px;
  top: 70px;
  transform: translate(-50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  width: 880px;
  display: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart--content__delete {
  display: none;
}

.cart--active {
  display: block;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart-content__title h3 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin-left: 30px;
  margin-bottom: 0;
}

.cart-product {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b7b7b7;
}

.cart-product__title {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.cart-product__flavour {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 0;
}

.cart-product__weight {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 7px;
}

.cart-product__count,
.cart-product__price,
.cart-product__things {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.cart-product__delete {
  position: absolute;
  transform: translate(-50%);
  left: 97%;
  cursor: default;
}

.cart-product__delete img {
  width: 23px;
  height: 23px;
}

.cart-content__fullprice {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.cart-content__fullprice span {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.cart-bottom__input {
  background-color: #ffffff;
  border: 2px solid #bababa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  color: #b7b7b7;
  padding: 0 15px;
  max-width: 260px;
  height: 50px;
  outline: none;
}

.cart-bottom__btn {
  max-width: 238px;
  height: 58px;
  background: #181818;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.form__label {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding-top: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.cart-content__list {
  max-height: 400px;
  padding-right: 100px;
  overflow-y: scroll;
}