@import url(./catalog.css);
@import url(./contacts.css);
@import url(./about.css);
@import url(./footer.css);
@import url(./normalizer.css);
@import url(./overlay.css);
@import url(./pagination.css);
@import url(./callback.css);
@import url(./checkbox.css);

html {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "Rubik";
  src: url(../src/fonts/Rubik-Light.woff2),
    url(../src/fonts/Rubik-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../src/fonts/Rubik-Regular.woff2),
    url(../src/fonts/Rubik-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../src/fonts/Rubik-Medium.woff2),
    url(../src/fonts/Rubik-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../src/fonts/Rubik-SemiBold.woff2),
    url(../src/fonts/Rubik-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: #fdfdfd;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #FF575F;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #181818;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 44px;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 468px) {
  .container {
    padding: 0 10px;
  }
}

.site__container {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
}

.logo img {
  width: 62px;
  height: auto;
  margin-top: 1px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: relative;
  max-width: 100%;
  min-height: 510px;
  background-repeat: no-repeat;
  background-color: #121212;
  background-position: center;
  background-size: cover;
  padding: 5px 0;
}

.header__title h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 26px;
  padding-top: 84px;
  margin-top: 0;
}

.header--all {
  font-weight: 500;
  color: #221F1F !important;
  text-align: left !important;
  letter-spacing: -0.01em !important;
  margin-bottom: 20px;
  padding-top: 100px !important;
}

.header--all {
  font-size: calc(26px + 12 * (100vw / 1920)) !important;
}

@media (max-width: 767px) {
  .header--all {
    font-size: calc(26px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
  }
}

.important__info-text {
  font-size: 17px;
}

.important__info {
  padding: 8px 0 !important;
}

@media (max-width: 992px) {
  .important__info-text {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .important__info {
    padding: 6px 0 !important;
  }
}

@media (max-width: 468px) {
  .important__info-text {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .important__info-text {
    font-size: 13.5px;
  }

  .important__info {
    padding: 4px 0 !important;
  }
}

.title--gradient {
  font-weight: 700;
  font-size: 39px;
  background: linear-gradient(90deg, #ffffff, #ff5959);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradien 6s ease infinite;
}

@keyframes gradien {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.header__subtitle p {
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
  max-width: 80%;
}

.header__call a {
  padding: 15px 20px;
  border-radius: 4px;
  background-color: #ff394d;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 18px;
  border-radius: 42px;
  box-shadow: inset 0 -4px 0 0 #d5172a;
  transition: all 70ms ease-out;
}

.header__call a:hover {
  background-color: #ff5263;
}

.header__call {
  font-weight: 500;
}

.header__call svg {
  transition: all 150ms ease-in-out;
  margin-bottom: 2px;
}

.header__call a:hover svg {
  transform: translate(3px, -3px);
}

.header__subtitle span {
  text-transform: uppercase;
  font-weight: 400;
  color: #ff5e5e;
}

.nav__list {
  margin: 0;
  padding: 0;
}

.page__body {
  overflow-x: hidden;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #ff5e5e;
  left: 93%;
  top: 32%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1200;
}

.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.burger--active::before {
  top: 50% !important;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto !important;
  top: 50%;
  transform: rotate(-45deg);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.nav__link {
  font-weight: 400;
  font-size: 17.5px;
  color: #ffffff;
}

.nav__link:hover {
  color: #ff5e5e;
  transition: all 80ms ease-out;
}

.burger__align {
  display: flex;
  gap: 30px;
  align-items: center;
}

.burger--active .burger__line {
  opacity: 0;
}

.stop-scroll {
  overflow: hidden;
}

.to-start {
  position: fixed;
  top: 87%;
  left: 92%;
  transform: translate(-50%, -50%);
  z-index: 400;
  opacity: 0;
  visibility: hidden;
}

.to-start a {
  background-color: #ff5656;
  box-shadow: 0px 5px 11px rgba(255, 94, 94, 0.693);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  transition: all 80ms ease-out;
}

.to-start a:hover {
  background-color: #ff3838;
}

.to-start svg {
  transition: all 150ms ease-in-out;
}

.to-start a:hover svg {
  transform: translateY(-4px);
}


.to__start-visible {
  opacity: 1;
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* адаптив для старт бтн */

@media (max-width: 1600px) {
  .to-start a {
    min-width: 56px;
    min-height: 56px;
  }

  .to-start svg {
    width: 31px;
    height: 31px;
  }

  .to-start {
    left: 96%;
  }
}

@media (max-width: 1279px) {
  .to-start a {
    min-width: 54px;
    min-height: 54px;
  }

  .to-start svg {
    width: 30px;
    height: 30px;
  }

  .to-start {
    left: 94.5%;
  }
}

@media (max-width: 1200px) {
  .header--all {
    padding-top: 68px !important;
  }
}

@media (max-width: 990px) {
  .header--all {
    padding-top: 52px !important;
  }
}

@media (max-width: 902px) {
  .to-start a {
    min-width: 52px;
    min-height: 52px;
  }

  .to-start svg {
    width: 28px;
    height: 28px;
  }

  .to-start {
    left: 94.5%;
  }
}

@media (max-width: 768px) {
  .to-start {
    left: 93%;
  }
}

@media (max-width: 514px) {
  .to-start a {
    min-width: 50px;
    min-height: 50px;
  }

  .to-start svg {
    width: 26px;
    height: 26px;
  }

  .to-start {
    left: 92%;
  }
}

@media (max-width: 500px) {
  .header--all {
    text-align: center !important;
  }
}

@media (max-width: 430px) {
  .to-start a {
    min-width: 49px;
    min-height: 49px;
  }

  .to-start {
    left: 92.5%;
  }

  .header--all {
    margin-bottom: 14px;
  }
}

@media (max-width: 391px) {
  .to-start {
    left: 91%;
  }

  .to-start a {
    min-width: 47.5px;
    min-height: 47.5px;
  }

  .to-start svg {
    width: 25px;
    height: 25px;
  }

  .header--all {
    margin-bottom: 11px;
  }
}

@media (max-width: 360px) {
  .to-start a {
    min-width: 45.5px;
    min-height: 45.5px;
  }

  .to-start svg {
    width: 23px;
    height: 23px;
  }
}

/* адаптив для хедера */

@media (max-width: 1149px) {
  .nav__link {
    font-size: 17px;
  }

  .header__title h1 {
    font-size: 32px;
    padding-top: 50px;
    line-height: 120%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 36px;
  }

  .header__subtitle p {
    font-size: 17px;
    line-height: 18px;
    max-width: 55%;
  }

  .header__call a {
    padding: 14px 18px;
    font-size: 14.5px;
    gap: 5px;
  }

  .header__call svg {
    width: 18px;
    height: 18px;
  }

  .logo img {
    width: 60px;
    height: auto;
  }

  .navbar__scrolled {
    padding: 5px 0;
  }

  .header {
    min-height: 445px;
  }

  .img__cart {
    width: 22px;
    height: auto;
  }

  .nav ul {
    gap: 38px;
  }

  .cart__quantity {
    width: 16px;
    height: 16px;
    font-size: 14px;
  }
}

@media (max-width: 992px) {

  .header__title h1 {
    font-size: 29px;
    padding-top: 50px;
    line-height: 100%;
  }

  .header__subtitle p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 24px;
    max-width: 60%;
  }

  .header__call a {
    padding: 14px 16px;
    font-size: 14px;
    gap: 5px;
  }

  .header__call svg {
    width: 16px;
    height: 16px;
  }

  .cart a::before {
    width: 13px;
    height: 13px;
  }

  .logo img {
    width: 56px;
    height: auto;
  }

  .nav ul {
    gap: 32px;
  }

  .cart__img img {
    height: 33px;
  }

  .header {
    min-height: 420px;
  }
}

@media (max-width: 902px) {
  .header__title h1 {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .title--gradient {
    font-size: 36px;
  }

  .header__subtitle p {
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    max-width: 70%;
  }

  .header__call a {
    padding: 13px 16px;
    font-size: 14px;
    gap: 5px;
  }

  .header__call svg {
    width: 15px;
    height: 15px;
  }

  .nav__link {
    font-size: 16px;
  }

  .cart__img img {
    height: 30px;
  }

  .cart__quantity {
    width: 18px;
    height: 18px;
    font-size: 15px;
  }

  .header {
    min-height: 390px;
  }
}

@media (max-width: 768px) {
  .header__title h1 {
    font-size: 29px;
    padding-top: 30px;
    line-height: 120%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 34px;
  }

  .header__subtitle p {
    margin-bottom: 20px;
    max-width: 80%;
  }

  .header__call a {
    gap: 4px;
  }

  .header__call svg {
    width: 15px;
    height: 15px;
  }

  .logo img {
    width: 55px;
    height: auto;
  }
}

@media (max-width: 607px) {
  .header__title h1 {
    font-size: 28px;
    padding-top: 35px;
    line-height: 110%;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 31.5px;
  }

  .header__subtitle p {
    font-size: 14.5px;
    line-height: 110%;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    max-width: 90%;
  }

  .header__call a {
    padding: 12px 16px;
    font-size: 13px;
  }

  .header__call svg {
    width: 15px;
    height: 15px;
  }

  .header {
    min-height: 365px;
  }
}

@media (max-width: 515px) {
  .cart__img img {
    width: 25px;
  }

  .header__title h1 {
    font-size: 26px;
    padding-top: 30px;
    line-height: 110%;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 30px;
  }

  .header__subtitle p {
    font-size: 13px;
    line-height: 110%;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
    max-width: 84%;
  }

  .header__call a {
    padding: 13px 15px;
    font-size: 13px;
    gap: 5px;
  }

  .header__call svg {
    width: 12px;
    height: 12px;
  }

  .header {
    min-height: 320px;
  }

  .logo img {
    width: 52px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .hero_text {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .header__subtitle p {
    max-width: none;
    font-size: 13px;
  }

  .header__call a {
    padding: 12px 13px;
    font-size: 13px;
    gap: 5px;
    margin-bottom: 12px;
  }
}

@media (max-width: 455px) {
  .header__title h1 {
    padding-top: 25px;
  }

  .header__call a {
    padding: 12px 12px;
    font-size: 13px;
    gap: 5px;
  }

  .header__call svg {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 432px) {
  .header__title h1 {
    padding-top: 20px;
    font-size: 24px;
  }

  .title--gradient {
    font-size: 31px;
  }

  .header__subtitle p {
    font-size: 13.5px;
  }

  .header__call a {
    padding: 12px 12px;
    font-size: 13px;
    gap: 5px;
  }

  .header__call svg {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 380px) {
  .header__title h1 {
    font-size: 22px;
    line-height: 110%;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .title--gradient {
    font-size: 28px;
  }

  .header__subtitle p {
    font-size: 12px;
    line-height: 110%;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
  }

  .header__call a {
    padding: 11px 11px;
    font-size: 12px;
    gap: 5px;
  }

  .header__call svg {
    width: 13px;
    height: 13px;
  }

  .header {
    min-height: 280px;
  }

  .logo img {
    width: 50px;
    height: auto;
  }
}

@media (max-width: 364px) {
  .header__title h1 {
    padding-top: 18px;
  }
}

/* адаптив для бургера */

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, #ff394d 0%, #ff6363 100%);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav::-webkit-scrollbar {
    width: 5px;
  }

  .nav::-webkit-scrollbar-track {
    background: transparent;
  }

  .nav::-webkit-scrollbar-thumb {
    background: #f0f0f0b3;
    border-radius: 5px;
  }

  .nav--visible {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
    padding-top: 82px;
    padding-bottom: 50px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .nav__link {
    font-size: 18px;
  }

  .nav ul {
    gap: 30px;
  }

}

@media (max-width: 640px) {
  .nav {
    background-color: #ff5e5e;
  }

  .burger {
    width: 27px;
    height: 18px;
  }

  .nav ul {
    gap: 26px;
  }

  .nav__list {
    padding-top: 95px;
    padding-bottom: 50px;
  }
}

@media (max-width: 566px) {
  .burger {
    width: 27px;
    height: 18px;
  }

  .nav ul {
    gap: 29px;
  }

  .nav__list {
    padding-top: 95px;
    padding-bottom: 50px;
  }
}

@media (max-width: 515px) {
  .logo img {
    width: 50px;
    height: auto;
  }

  .burger {
    width: 27px;
    height: 19px;
  }

  .nav ul {
    gap: 29px;
  }

  .nav__list {
    padding-top: 95px;
    padding-bottom: 50px;
  }

  .img__cart {
    width: 18px;
    height: 28px;
  }

  .cart__quantity {
    width: 17px;
    height: 17px;
    font-size: 15px;
  }
}

@media (max-width: 381px) {
  .logo img {
    width: 45px;
    height: auto;
  }

  .burger {
    width: 26px;
    height: 18px;
  }

  .cart__img img {
    width: 18px;
    height: 28px;
  }

  .cart__quantity {
    width: 13px;
    height: 13px;
    font-size: 12px;
  }

  .burger__align {
    gap: 22px;
  }

  .nav ul {
    gap: 16px;
  }

  .nav__link {
    font-size: 17px;
  }

  .header--all {
    padding-top: 40px !important;
  }
}

/* fixed menu */

.navbar_scrolled {
  position: fixed;
  padding: 0 0;
  background-color: #121212;
  animation-name: fadeInUp;
  animation-duration: 0.4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.cart-product img {
  width: 130px;
  height: 180px;
}

.cart__content {
  position: absolute;
  right: -438px;
  top: 70px;
  transform: translate(-50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  width: 880px;
  display: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart--content__delete {
  display: none;
}

.cart--active {
  display: block;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart-content__title h3 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin-left: 30px;
  margin-bottom: 0;
}

.cart-product {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b7b7b7;
}

.cart-product__title {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.cart-product__flavour {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 0;
}

.cart-product__weight {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 7px;
}

.cart-product__count,
.cart-product__price,
.cart-product__things {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.cart-product__delete {
  position: absolute;
  transform: translate(-50%);
  left: 97%;
  cursor: default;
}

.cart-product__delete img {
  width: 23px;
  height: 23px;
}

.cart-content__fullprice {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.cart-content__fullprice span {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.cart-bottom__input {
  background-color: #ffffff;
  border: 2px solid #bababa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  color: #b7b7b7;
  padding: 0 15px;
  max-width: 260px;
  height: 50px;
  outline: none;
}

.cart-bottom__btn {
  max-width: 238px;
  height: 58px;
  background: #181818;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.form__label {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding-top: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.cart-content__list {
  max-height: 400px;
  padding-right: 100px;
  overflow-y: scroll;
}