
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>fff</title>
 
   <!-- Fonts --> 

	<link rel="stylesheet" type="text/css" href="normalizer.css">
	<link rel="stylesheet" type="text/css" href="burger.css">
</head>
<body> 

   <div class="site__container">

      <!-- HEADER --> 
      <header class="header">
         <div class="container">
            <div class="navbar">
               <div class="logo">
                  <a href="#"><img src="" alt="">LOGO</a>
               </div>
               <nav class="menu__list">
                  <ul>
                     <li><a href="#">Портфолио</a></li>
                     <li><a href="#">Контакты</a></li>
                     <li><a href="#">О нас</a></li>
                     <li><a href="#">О нас</a></li>
                  </ul>
               </nav>
               <button class="burger" aria-label="Open menu" aria-expanded="false">
                  <span class="burger__line"></span>
               </button>
            </div>
         </div>
      </header>

    
   </div>

</body>
</html>