.articles {
  padding-bottom: 45px;
  color: #181818;
}

.articles__header {
  font-weight: 500;
  margin-bottom: 7px;
  font-size: calc(13px + 3 * (100vw / 1920)) !important;
}

.articles__text {
  font-size: calc(13px + 3 * (100vw / 1920)) !important;
  font-weight: 400;
}

@media (max-width: 767px) {
  .articles__header {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1920)) !important;
    margin-bottom: 5px;
  }

  .articles__text {
    font-size: calc(14px + (3 + 3 * 0.7) * ((100vw - 320px) / 1920)) !important;
  }
}