.img__cart {
  width: 22px;
  height: auto;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: var(--accent-color);
  left: 93%;
  top: 32%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.cart-product img {
  width: 130px;
  height: 180px;
}

.cart__content {
  position: absolute;
  right: -438px;
  top: 70px;
  transform: translate(-50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  width: 880px;
  display: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart--content__delete {
  display: none;
}

.cart--active {
  display: block;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart-content__title h3 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin-left: 30px;
  margin-bottom: 0;
}

.cart-product {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b7b7b7;
}

.cart-product__title {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.cart-product__flavour {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 0;
}

.cart-product__weight {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 7px;
}

.cart-product__count,
.cart-product__price,
.cart-product__things {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.cart-product__delete {
  position: absolute;
  transform: translate(-50%);
  left: 97%;
  cursor: default;
}

.cart-product__delete img {
  width: 23px;
  height: 23px;
}

.cart-content__fullprice {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.cart-content__fullprice span {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.cart-bottom__input {
  background-color: #ffffff;
  border: 2px solid #bababa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  color: #b7b7b7;
  padding: 0 15px;
  max-width: 260px;
  height: 50px;
  outline: none;
}

.cart-bottom__btn {
  max-width: 238px;
  height: 58px;
  background: #181818;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.cart-content__list {
  max-height: 400px;
  padding-right: 100px;
  overflow-y: scroll;
}

@media (max-width: 1366px) {
  .img__cart {
    width: 20px;
  }

  .cart__quantity {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 992px) {
  .cart a::before {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 640px) {
  .img__cart {
    width: 20px;
    height: auto;
  }

  .cart__quantity {
    font-size: 13px;
  }
}

@media (max-width: 391px) {
  .cart__quantity {
    width: 13px;
    height: 13px;
    font-size: 11px;
  }

  .img__cart {
    width: 19px;
    height: auto;
  }
}