.to-start {
  position: fixed;
  top: 87%;
  left: 92%;
  transform: translate(-50%, -50%);
  z-index: 400;
  visibility: hidden;
}

.to-start a {
  background-color: #ff5059b0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 54px;
  min-height: 54px;
  transition: background-color 60ms ease-out;
}

.to-start a:hover {
  background-color: var(--accent-color-lighter);
}

.to-start svg {
  width: 31px;
  height: 31px;
}

.to-start svg {
  transition: all 140ms ease-in-out;
  margin-bottom: 1px;
}

.to-start a:hover svg {
  transform: translateY(-4px);
}

.to__start-visible {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* адаптив для старт бтн */

@media (max-width: 1600px) {
  .to-start a {
    min-width: 52px;
    min-height: 52px;
  }

  .to-start {
    left: 96%;
  }
}

@media (max-width: 1279px) {
  .to-start svg {
    width: 30px;
    height: 30px;
  }

  .to-start {
    left: 94.5%;
  }
}

@media (max-width: 902px) {
  .to-start svg {
    width: 28px;
    height: 28px;
  }

  .to-start {
    left: 94.5%;
  }
}

@media (max-width: 768px) {
  .to-start {
    left: 93%;
  }

  .to-start a {
    min-width: 50px;
    min-height: 50px;
  }
}

@media (max-width: 514px) {
  .to-start svg {
    width: 26px;
    height: 26px;
  }

  .to-start {
    left: 92%;
  }
}

@media (max-width: 430px) {
  .to-start a {
    min-width: 49px;
    min-height: 49px;
  }

  .to-start {
    left: 92.5%;
  }
}

@media (max-width: 391px) {
  .to-start {
    left: 91%;
  }

  .to-start a {
    min-width: 47.5px;
    min-height: 47.5px;
  }

  .to-start svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 360px) {
  .to-start a {
    min-width: 45.5px;
    min-height: 45.5px;
  }

  .to-start svg {
    width: 23px;
    height: 23px;
  }
}